.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginForm > input{
    padding: 10px;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgray;
}

.loginButton{
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
}

.loginRegisterButton{
    position: absolute;
    padding: 10px;
    top: 60px;
    right: 20px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}