.singlePost{
    flex: 9;
}

.singlePostWrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 0;
}

.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-size: 2.5em;
    color: indigo;
    border: none;
}
.singlePostTitle:focus{
    outline: none;
}
.singlePostEdit{
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
    
}
.singlePostIcon{
    cursor: pointer;
    margin-right: 1em;
}

.singlePostInfo{
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    font-size: 18px;
    margin-right: 20px;
}

.singlePostDesc{
    font-size: 1.5em;
    line-height:30px;
    border: none;
    
}
.singlePostDesc:focus{
    outline: none;
}
.singlePostDesc::first-letter{
    font-size: 2em;
    text-transform: uppercase;
}
.post-author-group{
    display: flex;
    flex-direction: column;
}

.updateButton{
    width: fit-content;
    align-self: center;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}
