.top{
    width: 100%;
    /* height: 50px; */
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    color: black;
    border-radius: 5px;
    z-index: 999;
}

.topleft,.topright{
    flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
    font-size: 50px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
  }


.topcenter{
    flex: 6;
}




.toplist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.toplistitem{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    
}
.toplistitem:hover{
    color: gray;
}


.toprightlistitem{
    display:flex;
    justify-content: right;
    font-size: 18px;
    font-weight: 300;
    color: red;
}